.wrapper {
  width: 1178px;
  margin: 0px auto;
}
ol, ul {
  list-style: none;
}

.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#3B5999;
  height:48px;
  width:48px;
  margin:2px;
  margin-right:2px;
  margin-left:5px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}

.navigation {
  width: auto;
  height: 50px;
  background: #0072C6;
  margin-top: 4px;
  margin-left: -10px;
  margin-right: -10px;
}

.navigation ul {
  list-style: none;
  float: left;
}

.navigation li {
  height: 50px;
  line-height: 50px;
  position: relative;
  float: left;
}

.navigation li:first-child {
  margin-left: 0px;
}

.navigation li a {
  padding: 0 19px;
  display: block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation li a:hover {
  background: #38a1cf;
}

.navigation li ul {
  background: #42b3e5;
  top: 50px;
  display: none;
  position: absolute;
  z-index: 99999;
  width: 200px;
}

.navigation li:hover > ul {
  display: block;
}

.navigation li ul li {
  width: 100%;
  margin-left: 0px;
}

.navigation li ul li a {
  height: 50px;
  line-height: 54px;
  font-weight: normal;
  border: none;
  font-size: 14px;
}

.navigation li ul li a:hover {
  border: none;
}

.navigation li ul ul {
  top: 0;
  left: 100%;
}

.navigation ul li.menu-item-has-children {
  height: 50px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KPGcgaWQ9Imljb21vb24taWdub3JlIj4KCTxsaW5lIHN0cm9rZS13aWR0aD0iMSIgeDE9IiIgeTE9IiIgeDI9IiIgeTI9IiIgc3Ryb2tlPSIjRkZGRkZGIiBvcGFjaXR5PSIiPjwvbGluZT4KPC9nPgoJPHBhdGggZD0iTTEwLjczNCA2LjA4MWMwLjIxNy0wLjIxNCAwLjU2Ny0wLjIxNCAwLjc4MyAwczAuMjE3IDAuNTYxIDAgMC43NzVsLTMuMTI2IDMuMDY0Yy0wLjIxNyAwLjIxNC0wLjU2NyAwLjIxNC0wLjc4MyAwbC0zLjEyNi0zLjA2NGMtMC4yMTYtMC4yMTQtMC4yMTYtMC41NjEgMC0wLjc3NXMwLjU2Ni0wLjIxNCAwLjc4MyAwbDIuNzM0IDIuNTEyIDIuNzM0LTIuNTEyeiIgZmlsbD0iI0ZGRkZGRiI+PC9wYXRoPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position: right center;
}

.navigation ul li ul li.menu-item-has-children {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KPGcgaWQ9Imljb21vb24taWdub3JlIj4KCTxsaW5lIHN0cm9rZS13aWR0aD0iMSIgeDE9IiIgeTE9IiIgeDI9IiIgeTI9IiIgc3Ryb2tlPSIjRkZGRkZGIiBvcGFjaXR5PSIiPjwvbGluZT4KPC9nPgoJPHBhdGggZD0iTTYuMDgxIDEwLjczNGMtMC4yMTQgMC4yMTctMC4yMTQgMC41NjcgMCAwLjc4M3MwLjU2MSAwLjIxNyAwLjc3NSAwbDMuMDY0LTMuMTI2YzAuMjE0LTAuMjE3IDAuMjE0LTAuNTY3IDAtMC43ODNsLTMuMDY0LTMuMTI2Yy0wLjIxNC0wLjIxNy0wLjU2MS0wLjIxNy0wLjc3NSAwcy0wLjIxNCAwLjU2Ni0wLjAwMSAwLjc4MmwyLjUxMyAyLjczNS0yLjUxMiAyLjczNHoiIGZpbGw9IiNGRkZGRkYiPjwvcGF0aD4KPC9zdmc+Cg==);
  background-position: 90% center;
}


@media only screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }

  .navigation li {
    height: auto;
    min-height: 54px;
  }

  .wrapper {
    width: 94%;
  }

  .navigation li ul li {
    width: auto;
    padding-left: 5%;
  }

  .navigation-menu {
    display: none;
  }

  .responsivemenu {
    display: block !important;
  }

  .responsivemenu ul {
    width: 100%;
    background: #42B3E5;
  }

  .responsivemenu ul li {
    width: 100%;
  }


  .responsivemenu ul li.menu-item-has-children {
    height: auto;
    background: none;
  }

  .responsivemenu ul li ul li.menu-item-has-children {
    height: auto;
    background: none;
  }

  .responsivemenu li ul {
    width: 100%;
    height: auto;
    position: initial;
    display: block !important;
  }
}



.navbar-custom {
  background-color: #0072C6;
  margin-top: 120px;
  height: 50px;
}
.navbar-custom .navbar-brand {
  color: transparent;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #FFF;
}
.navbar-custom .navbar-nav > li > a {
  color: #FFF;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #BBB;
  background-color: #0052A6;;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #BBB;
  background-color: #0052A6;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #ddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFF;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #CCC;
    background-color: #0072D7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #777;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #CCC;
}
.navbar-custom .navbar-link:hover {
  color: #999;
}
.navbar-custom .btn-link {
  color: #CCC;
}
.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
  color: #888;
}
.navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-custom .btn-link:hover,
.navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-custom .btn-link:focus {
  color: #ccc;
}
